<h5>Exemplos de Pipes</h5>

<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Estrelas: {{livro.rating | number: '1.1-1'}}</p>
<p>Páginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency: 'BRL':true }}</p>
<p>Data Lançamento: {{livro.dataLancamento | date}}</p>
<p>Url: <a href="{{livro.url}}">{{livro.url}}</a></p>
<br>
<p>Livro: {{livro}}</p>
<br>
<!-- <input type="text" [(ngModel)]="filter"> -->
<br>
<input type="text" #newValue>
<button (click)="addCurso(newValue.value)">Add</button>

<ul>
  <li *ngFor="let book of livros | filtroArray:filter">
    {{book}}
  </li>
</ul>