* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  max-width: 300px;
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

#input {
  width: 100%;
  max-width: 300px;
  text-align: right;
}
